body {
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .mobile-container {
    max-width: 480px;
    margin: auto;
    background-color: #555;
    color: white;
    border-radius: 10px;
    min-height: 100vh;
  }
  .active {
    background-color: black;
    color: white;
  }  
  .topnav {
    overflow: hidden;
    background-color: #333;
    position: relative;
  }
  
  .topnav #myLinks {
    display: none;
  }
  
  .topnav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }
  
  .topnav a.icon {
    background: black;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  

  h3 {
      text-align: center;
}
h2 {
  text-align: center;
  padding: 5px;
  margin: 5px;
}
h4{
        padding: 3px auto;
      margin: 3px auto;
}
p{
  font-size: small;
  padding: 3px;
  text-align: justify;
  overflow: hidden;
}
.disp {
  background-color: rgb(121, 121, 121);
  width: 30 0px;
  display: block;
  margin: auto;
  margin: 30px 30px;
  padding: 30px;
  text-align: center;
}
.disp img {
  height: 95%;
  width: 70%;
  align-items: center;
  margin: auto;
}
input{
  /* color: #ddd; */
  background-color: white;
  display: block;
  margin: 10px auto;
  padding: 20px;
  /* columns: 10;
  rows: 10; */
  width: 80%;
}
button {
  display: block;
  margin: 10px auto;
  padding: 20px;
  background-color: black;
  color: white;
  width: 80%;
}
.input_radio{
  display: block;
  margin: 10px auto;
  padding: 15px;
  background-color: rgb(141, 131, 129);
  color: white;
  width: 80%;
}
.input_radio input{
  display: inline-block;
  padding: 0px;
  margin: 10px auto;  background-color: black;
  color: white;
  width: 80%;
}